.adus{
    
        border-radius: 4px; /* edge rounding of border */
        width: 40em; /* width of image (px or % or auto) */
        height: 20em; /* height of image (px or % or auto) */
        margin:10em 15em;
        
}